
Build/\.vs/

Build/ncltech/Debug/

*.log

*.csv

*.tlog

Build/Debug/

*.idb

*.pdb

Build/Examples_Cuda/\.vs/Examples_Cuda/v15/

*.lastbuildstate

Build/*.obj
Build/nclgl/x64/Debug/

Build/nclgl/Debug/

Build/nclgl/Release/

Build/ncltech/Release/
Build/ncltech/x64/Debug/

Build/PC/x64/

Build/x64/

Build/PC/program_output\.txt
