
Build/\.vs/

Build/ncltech/Debug/

*.log

*.csv

*.tlog

Build/Debug/

*.idb

*.pdb

Build/Examples_Cuda/\.vs/Examples_Cuda/v15/

*.lastbuildstate

Build/**/*.obj
Build/**/*.lib
Build/**/*.exe
*.iobj
*.ipdb
Build/**/**/*.lib

Build/nclgl/Debug/

Build/nclgl/Release/

Build/ncltech/Release/
Build/ncltech/x64/Debug/

Build/PC/program_output\.txt

Build/PC/\.vs/PC/v15/
**/AudioLog.txt
